@page
@model lab1_Cafe.Pages.TypesEditModel
@{
    ViewData["Title"] = "TypesEdit";
}
<div class="text-left">
    <form method="post">
        <div class="form-group">
            <label>Название: </label>
            <input class="form-control w-25" type="text" name="title" value="@Model.TypeTitle" required/>
        </div>
        <button class="btn btn-secondary" type="submit" asp-route-id="@Model.TypeId">Изменить</button>
    </form>
</div>